*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}   
body
{
    color: aliceblue;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #052659;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo
{
    position: relative;
    margin-left: -30px;
    font-size: 25px;
    color: #54ACBF;
    text-decoration: none;
    font-weight: 1000; 
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar {
    display: none;
    flex-direction: column;
    background-color: transparent;
    padding: 10px;
    list-style: none;
}
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #c1e8ff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}
.navbar a:hover
{
    color: #7da0c4;
}
.About
{
    width: 100%;
    justify-content: center;
    height: 100vh;
    background-color: #5483b3;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 40px 10%;
    flex-direction: column;
}

.container {
    height: auto;
    padding:  20px 40px;
    display: flex;
    justify-content: space-between;
}
.pengalaman {
   width: 50%;      /* biar sejajar dari atas */
}

/* opsional: pastikan pendidikan tetap di kiri */
.pendidikan {
    width: 50%;
}
.pengalaman h2
{
    margin-bottom: 20px;
}
.exp-grid
{
    font-size: 20px;
}
.exp-item
{
    margin-bottom: 30px;
    margin-top: 40px;
}
.list
{
    margin-top: 10px;
}
/* Container pendidikan */
.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    border-left: 6px solid #c5ebfd;
    margin-top: 20px;
}

  /* Setiap entri sekolah */
.school {
    margin-bottom: 25px;
    position: relative;
    padding-left: 20px;
    opacity: 0; /* default: tidak terlihat */
    animation: fadeInLeft 0.8s ease forwards;
      }
  
  .school::before {
    content: '';
    position: absolute;
    left: -13px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #c5ebfd;
  }
  
  /* Judul sekolah */
  .school h4 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  
  /* Tahun dan jurusan */
  .school p {
    font-size: 18px;
    color: #e0e0e0;
    margin: 5px 0 0;
  }
  
  /* Judul "PENDIDIKAN" */
  h2 {
    font-size: 50px;
    font-weight: bold;
    color: #c1e8ff;
    border-bottom: 4px solid #54ACBF;
    display: inline-block;
    margin-bottom: 30px;
  }
  .school:nth-child(1) {
    animation-delay: 0.1s;
  }
  .school:nth-child(3) {
    animation-delay: 0.3s;
  }
  .school:nth-child(5) {
    animation-delay: 0.5s;
  }
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@media screen and (min-width: 769px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .menu-button {
        display: none;
    }}
    @keyframes fadeInLeft {
        0% {
          opacity: 0;
          transform: translateX(-30px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
