*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}
body
{
    color: aliceblue;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgba(2, 56, 89, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    margin-left: -30px;
    font-size: 25px;
    color: #54ACBF;
    text-decoration: none;
    font-weight: 1000; 
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #A7EBF2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}
.navbar a:hover
{
    color: #54ACBF;
}
.Portofolio
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #26658c;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}