*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}
body
{
    color: aliceblue;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #052659;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo
{
    position: relative;
    margin-left: -30px;
    font-size: 25px;
    color: #54ACBF;
    text-decoration: none;
    font-weight: 1000; 
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar {
    display: none;
    flex-direction: column;
    background-color: transparent;
    padding: 10px;
    list-style: none;
}
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #c1e8ff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}
.navbar a:hover
{
    color: #7da0c4;
}
.Home
{
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #5483b3;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px;
}
.Home-content
{
    max-width: 1000px;
}
.Home-content h1
{
    align-items: center;
    font-size: 56px;
    font-weight: 700;
    margin: -10px 0;
    color: #A7EBF2;
}
.Home-content p
{
    margin-top: 20px;
    max-width: 600px;
    font-size: 20px;
    color: #c1e8ff;
}
.Home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #A7EBF2;
    border-radius: 50%;
    color: #A7EBF2;
    margin: 20px 15px 30px 0;
}
.Home-sci a:hover
{
    background: #54ACBF;
    color: #A7EBF2;
    box-shadow: 0 0 20px #54ACBF;
}
.foto 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img 
{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    margin-right: 300px;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@media screen and (min-width: 769px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .menu-button {
        display: none;
    }}