*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}
body
{
    color: aliceblue;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #052659;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    margin-left: -30px;
    font-size: 25px;
    color: #54ACBF;
    text-decoration: none;
    font-weight: 1000; 
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #c1e8ff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}
.navbar a:hover
{
    color: #7da0c4;
}
.Login
{
    position: relative;
    width: 100%;
    justify-content: center;
    height: 100vh;
    background-color: #5483b3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 70px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #5483b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: b;
    padding: 60px;
    border-radius: 5px;
    background-color: rgba(2, 56, 89, 0.6);
    backdrop-filter: blur(2px);
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #54ACBF;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #54ACBF;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #A7ebf2;
}

.message {
    margin-top: 15px;
    text-align: center;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}